@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: 'Retro';
    src: url('../Portafolio.-master/images/VT323-Regular.ttf') format("truetype");
}

body {
    font-family: Roboto;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1.50;  
    letter-spacing: -.2px;
    color: #f3eac2;
    margin: 0;
    padding-left: 15pc;
}

h1 strong {
    color: #9ad3bc;
}

h2 {
    color: #494e9c; 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 30px;
}

.hero {
height: 300px;
background-image: url('./images/mee.jfif');
background-color:  #ec524b;
background-size: 300px 400px;
background-repeat: no-repeat;
background-position-x: right;
display: flex;
align-items: center;
box-shadow: inset 0px 4px 14px 0px rgba(0, 0, 0, 0.23); 
}

.portfolio {
    /* background-color: #f3eac2; */
    padding: 60px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #b0f3d8;
    display: flex;
    box-shadow: -2px 1px 14px 0px rgba(0, 0, 0, 0.23);
    align-items: center;
    justify-content: space-between;
}

.project:hover {
    background-color: #dcfff1;
}

.project-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}

.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
    padding-top: 30px;
}


.project-details {
    width: 500px;
}

.project-image {
    width: 500px;
    height: 400px;
}


.header {
    background-color: #ec524b;
    display: flex;
    justify-content: space-between;
    height: 70px;
    box-shadow: inset 0px -1px 4px 0px rgba(0, 0, 0, 0.23);
    align-items: center;
    padding-left: 1pc;
}

.header ol {
    display: flex;
      height: inherit;
  }

.header a {
    color: #f3eac2;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.menu {
    height: inherit;
}

.header ol li {
    height: inherit; 
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: inherit;
}

figure {
    margin: 0;
  }

 

 .flexbox {
    display: flex;
    justify-content: center;
    height: 900px;
    align-items: center;
    flex-direction: column;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    flex-shrink: 0;
} 

.footer {
    background-color: #ec524b;
    color: #f3eac2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.footer img {
vertical-align: middle;
}